#work_box{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1600px;
	height: 900px;
	transform: translate(-50%, -50%);
	border: solid 8px grey;
}

.character{
	background-color: red;
	z-index: 1000;
	width: 50px;
	height: 90px;
}

#scoreboard{
	position: absolute;
	left: 90%;
	top: 5%;
	width: 120px;
	height: 50px;
	font-size: 30px;
	border: solid;
	text-align: center;
}

.attack{
	z-index: 1000;
	position: absolute;
	border: none;
	padding: none;
	margin: none;
}

.attack_fast{
	z-index: 1000;
	position: absolute;
	border: none;
	padding: none;
	margin: none;
}

.enemy{
	z-index: 999;
	position: absolute;
	padding: none;
	margin: none;
}

.hp_bar{
	background-color: green;
	height: 17%;
	margin-bottom: 5%;
}

img{
	width: 100%;
	height: 78%;
}



